.footer {
    background-color: var(--footer-background-color);
    padding-top: 48px;
}

.footerTitle {
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 0;
}

.footerLink {
    text-decoration: none;
    color: var(--footer-link-color);
}

.footerLink:hover {
    color: white;
    transition: 0.2s all linear;
}